#Number gussing game using python


import random
import math

user_name = input("Welcome to word guessing game, please tell me your name ")

print("ok" + str(user_name) + "i am going to ask some numbers then you will guess what i have chosen")

lower_number = input("please enter a lower number ")
    
if lower_number.isdigit():
    lower_number = int(lower_number)
        
    if lower_number <= 0:
        print("you must enter a number greater than 0")
        quit()
else:
    print("you have to enter a number")
    quit()
    
    
        
upper_number = input("please enter a number ")
    
if upper_number.isdigit():
    upper_number = int(upper_number)
            
    if lower_number <= 0:
        print("you must enter a number greater than 0")
        quit()
else:
    print("you have to enter a number")
    quit()
        
guesses = (upper_number - lower_number)
user_chances = print("you have " + str(guesses) + "chances to guess")

number_range = round(math.log(upper_number - lower_number + 1, 2))
computer_choice = random.randint(0,number_range)


count = 0

while True:
    count += 1
    user_guess = input("please tell me your guess (it can be any number you imagin) ")

    if user_guess.isdigit():
        user_guess = int(user_guess)
    else:
        print("you have to enter a number")
    
    if count < guesses:
    
        if user_guess == computer_choice:
            print("YOU WIN!")
            
            
        elif user_guess < computer_choice:
            print("it is too low")
            
            
        elif user_guess > computer_choice:
            print("it is too high")
            
        
    if count == guesses:
        print("YOU LOSE!")
